/* src/index.css */
body {
  font-family: "Sarabun", sans-serif;
}

html {
  font-size: 14px;
}

#offcanvasNavbar {
  width: 80%;
  /* มือถือ */

  @media (min-width: 768px) {
    width: 300px;
    /* Tablet ขึ้นไป */
  }

  @media (min-width: 1200px) {
    width: 300px;
    /* Desktop ใหญ่ */
  }
}

.offcanvas-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #188754;
  padding: 1rem;
  background-color: #188754;
}

/* === Breakpoints === */
/* sm ≥ 576px */
@media (min-width: 576px) {
  .fs-sm-1 {
    font-size: 2.5rem !important;
  }

  .fs-sm-2 {
    font-size: 2rem !important;
  }

  .fs-sm-3 {
    font-size: 1.75rem !important;
  }

  .fs-sm-4 {
    font-size: 1.5rem !important;
  }

  .fs-sm-5 {
    font-size: 1.25rem !important;
  }

  .fs-sm-6 {
    font-size: 1rem !important;
  }
}

/* md ≥ 768px */
@media (min-width: 768px) {
  .fs-md-1 {
    font-size: 2.5rem !important;
  }

  .fs-md-2 {
    font-size: 2rem !important;
  }

  .fs-md-3 {
    font-size: 1.75rem !important;
  }

  .fs-md-4 {
    font-size: 1.5rem !important;
  }

  .fs-md-5 {
    font-size: 1.25rem !important;
  }

  .fs-md-6 {
    font-size: 1rem !important;
  }
}

/* lg ≥ 992px */
@media (min-width: 992px) {
  .fs-lg-1 {
    font-size: 2.5rem !important;
  }

  .fs-lg-2 {
    font-size: 2rem !important;
  }

  .fs-lg-3 {
    font-size: 1.75rem !important;
  }

  .fs-lg-4 {
    font-size: 1.5rem !important;
  }

  .fs-lg-5 {
    font-size: 1.25rem !important;
  }

  .fs-lg-6 {
    font-size: 1rem !important;
  }
}

/* xl ≥ 1200px */
@media (min-width: 1200px) {
  .fs-xl-1 {
    font-size: 2.5rem !important;
  }

  .fs-xl-2 {
    font-size: 2rem !important;
  }

  .fs-xl-3 {
    font-size: 1.75rem !important;
  }

  .fs-xl-4 {
    font-size: 1.5rem !important;
  }

  .fs-xl-5 {
    font-size: 1.25rem !important;
  }

  .fs-xl-6 {
    font-size: 1rem !important;
  }
}

/* xxl ≥ 1400px */
@media (min-width: 1400px) {
  .fs-xxl-1 {
    font-size: 2.5rem !important;
  }

  .fs-xxl-2 {
    font-size: 2rem !important;
  }

  .fs-xxl-3 {
    font-size: 1.75rem !important;
  }

  .fs-xxl-4 {
    font-size: 1.5rem !important;
  }

  .fs-xxl-5 {
    font-size: 1.25rem !important;
  }

  .fs-xxl-6 {
    font-size: 1rem !important;
  }
}

.form-check-input.switch-lg { transform: scale(1.1); margin-right: .5rem; }

.hover-clickable {
  cursor: pointer;
  transition: color 0.2s;
}
.hover-clickable:hover {
  color: #1453F5; /* สีน้ำเงิน */
}

