.container2 {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 0 10px;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 320px;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}

.slide.active {
  left: 0;
  opacity: 1;
}

.question-text {
  font-size: 1.2rem;
  margin-top: 10px;
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  color: #ccc;
  transition: transform 0.2s, color 0.2s;
}

.option.selected {
  color: #FFA500;
  transform: scale(1.2);
}

.option .label {
  font-size: 1rem;
  margin-top: 5px;
}

.option:hover {
  transform: scale(1.2);
  color: #ffb84d;
}

/* กล่องข้อความ */
.textarea {
  width: 90%;
  height: 120px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  margin-top: 20px;
}

.textarea:focus {
  outline: none;
  border-color: #FFA500;
  box-shadow: 0 0 5px #ffc266;
}

.buttons {
  // margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: #FFA500;
  color: white;
  border-radius: 8px;
  transition: background 0.2s;
}

button:hover:not(:disabled) {
  // background: #ffb84d;
}


button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


/* Mobile-Friendly */
@media (max-width: 480px) {
  .option {
    font-size: 2.2rem;
  }

  .option .label {
    font-size: 0.8rem;
  }

  .textarea {
    height: 100px;
    font-size: 0.9rem;
  }
}

